//Colors
$softpurple : #8C30E8;
$softblue: #9ACCCD;
$softgreen: #8FD8A0;
$softpink: #D9A790;
$litegreen: #29ff5b;
$liteblue: #3dfcff;
$softorange : #F79646;
$darkred: #C0504D;
$darkblue: #4F81BD;
$darkgreen: #9BBB59;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');
$huge: 48px;
$bigger: 36px;
$big: 24px;
$medium: 18px;
$normal: 14px;
$small: 12px;

html{
  background: url('/img/pages_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

// Commons
.overlay{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 3;
  display: none;
  background-color: gray;
}

#loading-icon{
  position: absolute;
  top: 40%;
  left: 45%;
  display: none;
  z-index: 2;
}

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////       Index home page       /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

#loginbox{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  width: 390px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid $softpurple;
  border-radius: 5px;
  #left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input{
      margin: 10px;
      padding: 2px;
      height: 20px;
      width: auto;
      font-size: $normal;
    }
    #bot{
      padding: 4px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  #right{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
    }
  }
}

#loginbtn{
  background-color: $softpurple;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
  &:hover{
    border-left: solid 2px darken($softpurple, 20);
    transition: 0.2s;
  }
}

#message{
  background-color: $softpurple;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 24px;
  line-height: 40px;
  margin: auto;
  cursor: default;
}

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////    END Index home page       ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////        USER MENU            /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////
#menu{
  position: absolute;
  top: -150px;
  left: 10px;
  display: flex;
  flex-direction: column;
  background-color: $softblue;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: $softpink;
  transition: 0.5s;
  width: 150px;
  z-index: 2;
  #useravatar{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    img{
      max-width: 70%;
      align-self: center;
    }
    #username{
      display: block;
      text-align: center;
    }
  }
  #buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 10px;
    i{
      cursor: pointer;
      transition: 0.5s;
      &:hover{
        transition: 0.5s;
        color: darken($softpink, 20);
      }
    }
  }
}

.show{
  top: 0px !important;
  transition: 1s;
}

#menubars{
  color: black;
  position: relative;
  display: block;
  top: 18px;
  left: 10px;
  cursor: pointer;
}
///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////       END USER MENU         /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////       User Settings         /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

.content{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.repo-container{
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  height: 420px;
}

.page-title{
  padding: 20px;
  margin: auto;
  font-size: $huge;
}

.project{
  position: relative;
  background-color: $softpurple;
  width: 200px;
  height: 150px;
  margin: 4px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  word-break: break-all;
  padding: 0px 5px;
  color: white;
  font-size: $normal;
  cursor: pointer;
  .synced{
    color: lightgreen;
  }
  &:hover{
    box-shadow: inset 0px 0px 0px 2px black
  }
}

#button-container{
  display: flex;
  justify-content: flex-start;
}



.upload{
  padding: 3px;
  font-size: 18px;
  cursor: pointer;
  color: white;
  background-color: $softpurple;
  border: none;
  &:hover{
    background-color: lighten($softpurple, 10%);
  }
}

.times{
  color: $softpink;
  background-color: transparent;
  border:none;
  cursor: pointer;
  &:hover{
    color: darken($softpink,10%);
  }
}
.check{
  color: $softgreen;
  background-color: transparent;
  border:none;
  cursor: pointer;
  &:hover{
    color: darken($softgreen,10%);
  }
}


.delete-repo{
  position: absolute;
  left: 2px;
  top: 3px;
  color: $softorange !important;
}

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////       End User Settings     /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////       User Projects         /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

.active-project{
  background-color: $softpurple;
  width: 200px;
  height: 150px;
  margin: 4px auto;
  display: inline-flex;
  justify-content: center;
  padding: 0px 5px;
  color: white;
  font-size: $medium;
  flex-direction: column;
  .project-name{
    margin: auto;
    text-align: center;
    cursor: default;
  }
  .project-buttons{
    margin: auto;
    display: flex;
    a{
      text-decoration: none;
      color: white;
    }
  }
}

.modal-container{
  display: flex;
  position: fixed;
  top: -100%;
  left: 33%;
  background-color: white;
  width: 30%;
  flex-direction: column;
  padding: 15px;
  border-radius: 30px;
  transition: 1s;
  border: 2px solid black;
  .top{
    display: flex;
    justify-content: center;
    input{
      font-size: 17px;
      width: 100%;
      font-weight: bold;
    }
  }
  .mid{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    .mid-left{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .mid-right{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .bot{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}

///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////     End User Repositories   /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////     BCF VIEWER      //////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

#header{
  display: flex;
  flex-direction: column;
  .panel{
    display: flex;
    justify-content: space-around;
    select{
      width: 50%;
    }
    #display-issues{
      cursor: pointer;
      transition: all 0.3s ease-in-out 0s;
      &:hover{
        transform: rotate(360deg);
        transition: all 0.3s ease-in-out 0s;
      }
    }
  }
}

.issue-block {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 10% 2%;
  cursor: pointer;
  .issue-prev{
    width: 100%;
    height: 100%;
  }
  .issue-desc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($darkblue, 0.80);
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    list-style-type: none;
    .issue-item{
      text-align:left;
      margin-left: -15px;
    }
    .issue-status{
      display:block;
      position:absolute;
      bottom: 10px;
      text-align:center;
      font-size: 20px;
      border-top: 2px solid $darkred;
      border-bottom: 2px solid $darkred;
    }
  }
  &:hover .issue-desc {
    visibility: visible;
    opacity: 1;
  }
  .issue-title{
    text-align: center;
    color: white;
    background-color: $softpurple;
    height: 60px;
    margin-top: -5px;
    padding: 5px;
  }
}


.bcf-tool{
  width:60px;
  height:60px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor: pointer;
  color: white;
}

.tool-red{
  background-color: $softpink;
  &:hover{
    background-color: $darkred;
  }
}

.tool-blue{
  background-color: $softblue;
  &:hover{
    background-color: $darkblue;
  }
}

.tool-green{
  background-color: $softgreen;
  &:hover{
    background-color: $darkgreen;
  }
}

.dl-link{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}


.msg-block{
  margin: auto;
  display:flex;
  width: 100%;
  height: 500px;
  flex-direction:column;
  justify-content:space-between;
  padding: 3px;
  color: white;
  .top-bar{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    i{
      cursor: pointer;
      &:hover{
        color:black;
      }
    }
  }
  .chat-area{
    display:flex;
    flex-direction:column;
    overflow-y:scroll;
    height:100%;
    width:100%;
  }
  .write-area{
    display:flex;
    flex-direction:column;
    width:100%;
    #msg{
      overflow-y:scroll;
      resize:none;
      height:80px;
      font-family: inherit;
    }
  }
}








///////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////     END BCF VIEWER   /////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////


///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////      Buttons & Checkboxes   /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////  END Buttons & Checkboxes   /////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////

//Footer
footer{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: $softpurple;
  height: 50px;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  a:visited{
    color: $softpurple;
  }
}
