<head>
  <meta charset="utf-8">
  <title>TFG BIM</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/master.min.css">
  <link rel="stylesheet" href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/plugins/jquery-confirm/jquery-confirm.min.css">
  <script src="/plugins/jquery/jquery-3.2.0.min.js" charset="utf-8"></script>
  <script src="/plugins/jquery-ui/jquery-ui.min.js" charset="utf-8"></script>
  <script src="/plugins/notify/notify.min.js" charset="utf-8"></script>
  <script src="/plugins/underscore/underscore-min.js" charset="utf-8"></script>
  <script src="/plugins/xml2json/xml2json.min.js" charset="utf-8"></script>
  <script src="/plugins/jquery-confirm/jquery-confirm.min.js" charset="utf-8"></script>
  <script src="/plugins/filesaver/filesaver.min.js" charset="utf-8"></script>
  <script src="/plugins/jszip/jszip.min.js" charset="utf-8"></script>
  <script src="/plugins/jszip/jsziputils.js" charset="utf-8"></script>
  <script src="/js/menu.js" charset="utf-8"></script>
</head>
