<div id="menu">
  <div id="useravatar">
    <img src="<%= user.avatar %>" style="max-width:70%" alt="avatar">
    <span id="username"> <%= user.name %> </span>
  </div>
  <div id="buttons">
    <i id="myrepos" title="Mis proyectos activos" class="fa fa-home"></i>
    <i id="user" title="Todos mis proyectos" class="fa fa-list"></i>
    <i id="logout" title="Salir" class="fa fa-sign-out"> </i>
  </div>
  <i id="menubars" class="fa fa-navicon"></i>
</div>
